<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.15.162:3306/ahorcado</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_schema">ahorcado</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="com.liceolapaz.bcdnob.ahorca_do.model.User"/>
        <mapping class="com.liceolapaz.bcdnob.ahorca_do.model.Partida"/>
    </session-factory>
</hibernate-configuration>
