#menu
{
    -fx-background-image: url("../images/menu.png");
    -fx-background-size: 100% 150.01%;
}

#menu .button
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


#menu .button:hover
{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-cursor: hand;
}