#menu
{
    -fx-background-image: url("../images/menu.png");
    -fx-background-size: 100% 150%;
}
#menuButton
{
    -fx-background-color: #00000000;

}

#menuButton:hover {
    -fx-background-color: #616161;
    -fx-text-fill: #333333;
}